.pageWrapper {
  min-height: calc(100vh - 120px); /* Adjust based on Navbar + Footer height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.projectContainer {
  font-size: 2rem;
  text-align: center;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
